# Build Server Environment Variables
PROJECT_ID=sample-project-id
GIT_REPOSITORY__URL=https://github.com/user/repo

# Redis Connection URL (Fallback)
REDIS_URL=redis://localhost:6379

# Apache Kafka Ingestion Pipeline (Aiven Kafka or Local Kafka)
KAFKA_BROKERS=kafka-xxx.aivencloud.com:24134
KAFKA_TOPIC=container-logs
KAFKA_CLIENT_ID=builder-sample-project
KAFKA_USERNAME=avnadmin
KAFKA_PASSWORD=your_aiven_kafka_password
KAFKA_SASL_MECHANISM=scram-sha-256

# AWS S3 Configuration
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=YOUR_AWS_SECRET_ACCESS_KEY
S3_BUCKET_NAME=my-vercel-clone-outputs
